.title {
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0;
}

.subHeadingContainer {
  display: flex;
  gap: 20px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.subHeadingContainer a {
  position: relative;
}

.subHeadingContainer a:focus::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #000;
  left: 0;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.bannerImage {
  width: 100%;
}

.introText {
  font-size: 2rem;
  margin-bottom: 100px;
}

.studioText {
  scroll-margin-top: 80px;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

.secondarySectionHeading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  gap: 20px;
  scroll-margin-top: 80px;
}

.founders {
  grid-column: 2 / 5;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.headshot {
  width: 75%;
  margin-bottom: 20px;
}

.twoColumnImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.galleryContainer figure {
  margin-bottom: 30px;
}

.galleryContainer figcaption {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
}

.galleryContainer {
  margin-bottom: 200px;
}

.tertiarySectionHeading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  gap: 20px;
  scroll-margin-top: 80px;
}

.tertiarySectionHeading {
  margin-bottom: 100px;
}

.threeColumn,
.threeColumnAward {
  column-count: 3;
  grid-column: 2 / 5;
}

.threeColumnSpan,
.twoColumns {
  grid-column: 2 / 5;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.threeColumnAward p {
  break-inside: avoid;
}

.awardsHeading {
  grid-column: 2 / 5;
  margin-bottom: 10px;
}

.secondaryHeading {
  margin-bottom: 10px;
}

.secondColumn {
  grid-column: 2;
}

.jobLink {
  font-size: 2rem;
}

.objectiveIntroText {
  margin-top: 350px;
  margin-bottom: 40px;
  font-size: 2rem;
}


