.title {
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0;
}

.subHeadingContainer {
  display: flex;
  gap: 20px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.subHeadingContainer a,
.studioAnchor {
  position: relative;
}

.subHeadingContainer a:focus::after,
.studioAnchor::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #000;
  left: 0;
}

.banner {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 20px;
}

.bannerImage {
  width: 100%;
}

.introText {
  font-size: 2rem;
  margin-bottom: 100px;
  scroll-margin-top: 80px;
}

.studioText {
  scroll-margin-top: 80px;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

.secondarySectionHeading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  gap: 20px;
  scroll-margin-top: 80px;
  margin-bottom: 200px;
}

.founders {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.headshot {
  width: 100%;
  margin-bottom: 20px;
}

.twoColumnImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.galleryContainer figcaption {
  font-weight: bold;
  margin-top: 5px;
}

.galleryContainer {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  margin-bottom: 200px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.featuredContainer {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  margin-bottom: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.featuredTileContainer {
  width: 15vw;
  flex-shrink: 0;
}

.featuredTileImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1.25;
  overflow: hidden;
}

.tertiarySectionHeading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  gap: 20px;
  scroll-margin-top: 80px;
}

.tertiarySectionHeading {
  margin-bottom: 80px;
}

.tertiarySectionHeading ol {
  list-style-position: inside;
}

.contactInfo {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 5;
}

.threeColumn,
.threeColumnAward {
  column-count: 3;
  -moz-column-fill: balance;
  column-fill: balance;
  grid-column: 2 / 5;
}

.contactInfo p {
  grid-column: span 1;
}

.threeColumnSpan,
.twoColumns {
  grid-column: 2 / 5;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.threeColumnAward p {
  break-inside: avoid;
}

.awardsHeading {
  grid-column: 2 / 5;
  margin-bottom: 20px;
}

.secondaryBigHeading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.secondaryHeading {
  margin-bottom: 10px;
}

.secondColumn {
  grid-column: 2;
}

.objectiveIntroText {
  margin-bottom: 40px;
  font-size: 2rem;
}

.awardsHeadingMobile {
  display: none;
}

.teamImage {
  margin-bottom: 10px;
}

.staffContainer {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 20px;
}

@media screen and (max-width: 800px) {
  .title {
    padding-top: 35px;
  }

  .subHeadingContainer {
    row-gap: 5px;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .banner {
    margin-bottom: 20px;
  }

  .bannerImage {
    min-width: 100%;
    min-height: 100%;
  }

  .introText,
  .studioText {
    font-size: 1.7rem;
  }

  .secondarySectionHeading {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .founders {
    grid-column: 1 / 3;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .headshot {
    width: 100%;
  }

  .twoColumnImageContainer {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .tertiarySectionHeading {
    display: block;
  }

  .threeColumn,
  .threeColumnAward {
    column-count: 1;
    grid-column: 1;
  }

  .galleryContainer {
    margin-bottom: 100px;
  }

  .awardsHeading {
    display: none;
  }

  .awardsHeadingMobile {
    display: block;
  }

  .twoColumns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .studioText {
    margin-bottom: 40px;
  }

  .staffContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
  }

  .featuredTileContainer {
    width: 40vw;
  }
}
