.footerContainer {
  font-weight: bold;
  margin: 15px;
  margin-bottom: 30px;
  display: flex;
}

.footerLogoContainer {
  margin: 15px;
}

.footerLogo {
  width: 100%;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weatherIcon {
  height: 1rem;
  width: 1rem;
}
