@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 400ms;
}

a:hover {
  opacity: 0.5;
  transition: all 400ms;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: all 400ms;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 400ms;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  overflow-x: hidden;
  width: 100vw;
}

main {
  padding-top: calc(1rem + 20px);
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

.margined-section {
  margin: 15px;
}

.extra-padding {
  padding: 100px 0px;
}
