.mapContainer {
  height: 85vh;
  width: 100%;
  margin-top: 100px;
}

.marker {
  position: relative;
}

.marker:hover {
  opacity: 1;
}

.hiddenInfo {
  display: none;
}

.hoverState {
  position: absolute;
  left: 20px;
  top: 0px;
  transform: translateY(-25%);
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  width: 200px;
}

.tileImageContainer {
  aspect-ratio: 1 / 1.25;
  margin-bottom: 10px;
  overflow: hidden;
}

.tileImage {
  min-height: 100%;
  min-width: 100%;
}

.clusterContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  max-height: 75%;
  overflow: scroll;
  gap: 5px;
  background: #fff;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .mapContainer {
    margin-top: 35px;
  }
}
