.searchPageContainer {
  min-height: 100vh;
}

.searchLanding {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 15px;
  padding-top: 0;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fff;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: all 400ms;
}

.searchLanding > .backgroundContainer:nth-child(n + 25) {
  display: none;
}

.backgroundImage {
  width: 100%;
}

.searchBoxContainer {
  position: absolute;
  width: 60vw;
  background: #f7f7f7;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tagBtn {
  padding: 8px 16px;
  border-radius: 6px;
  background: #e4e4e4;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.objectives {
  margin-top: 20px;
}

.searchBox {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.searchBoxSearched {
  opacity: 1;
}

.searchBoxForm {
  width: 100%;
  position: relative;
}

.searchBoxInput {
  width: 100%;
  border: none;
  font-size: 4rem;
  padding-bottom: 10px;
  font-weight: bold;
  background: none;
}

.searchBoxForm input:focus {
  outline: none;
}

.searchBoxInput::placeholder {
  color: #000;
}

.searchBoxSubmit {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.searchBoxReset {
  display: none;
}

.searchBoxIcon {
  font-size: 4rem;
}

.hitsContainer ol {
  list-style: none;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.hitsListContainer ol {
  list-style: none;
  margin-top: 20px;
 }

.searchOptionsBar {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
}

.filterLabel {
  display: inline;
}

.refinementContainer {
  display: flex;
  justify-content: flex-start;
}

.search-filter-menu {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-md);
  opacity: 1;
  transition: all var(--md-transition);
}

.refinementList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.refinementItem {
  color: var(--dark-gray);
  transition: all 400ms;
}

.refinementItem:hover {
  color: #000;
  transition: all 400ms;
}

.refinementText {
  cursor: pointer;
}

.refinementSelected {
  color: #000;
}

.refinementItem input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
}

.refinementCount {
  display: none;
}

.paginationList {
  display: flex;
  position: relative;
  font-size: var(--caption);
  padding-top: var(--medium-padding);
  border-top: 1px solid var(--light-gray);
}

.paginationList li {
  list-style: none;
}

.paginationPage,
.paginationDisabled {
  color: var(--mid-gray);
}

.paginationPage {
  margin-right: 10px;
}

.paginationDisabled {
  cursor: default;
}

.paginationSelected {
  color: #000;
}

.searchPrev,
.searchNext {
  display: flex;
  gap: 10px;
  position: absolute;
}

.searchNext {
  right: 0;
}

.searchPrev {
  right: 150px;
}

.viewContainer {
  display: flex;
  gap: 20px;
}

.viewBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.25rem;
}

.viewBtn span {
  position: relative;
}

.activeView::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #000;
  left: 0;
}

.searchHeading {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultPage {
  position: relative;
  z-index: 100;
}

.closeSearch {
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .searchLanding {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }

  .hitsContainer ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .searchLanding {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 15px;
  }

  .backgroundContainer {
    display: flex;
    max-height: calc((100vh - 130px) / 8);
  }

  .searchSearch {
    margin-bottom: 15px;
  }

  .searchBoxContainer {
    width: 80vw;
  }

  .searchBoxInput {
    font-size: 3rem;
  }

  .searchBoxIcon {
    font-size: 3rem;
  }

  .searchHeading {
    margin-top: 35px;
    flex-wrap: wrap;
    gap: 40px;
  }

  .searchQuery,
  .viewContainer {
    width: 100%;
  }

  .viewContainer {
    justify-content: flex-end;
  }

  .hitsContainer ol {
    grid-template-columns: 1fr;
  }
}
