.primaryText {
  font-size: 2rem;
  font-weight: bold;
}

.secondaryInfoContainer {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.secondaryInfoLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.secondaryInfoRight {
  grid-column: 2 / 5;
  width: 80%;
}

.twoColumnImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.galleryContainer figure {
  margin-bottom: 30px;
}

.galleryContainer figcaption {
  font-weight: bold;
  margin-top: 5px;
}

.galleryContainer,
.secondaryGallery {
  margin-bottom: 200px;
}

.secondaryMediaRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.secondaryMediaRow figure {
  margin-bottom: 30px;
}

.secondaryMediaRow figcaption {
  font-weight: bold;
  margin-top: 5px;
}

.secondarySectionHeading,
.tertiarySectionHeading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  gap: 20px;
}

.tertiarySectionHeading {
  margin-bottom: 100px;
}

.secondaryText {
  grid-column: 2 / 5;
  margin-bottom: 100px;
}

.threeColumn {
  column-count: 3;
  grid-column: 2 / 5;
}

.threeColumn span {
  display: inline-block;
  break-inside: avoid;
}

.threeColumnList {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.relatedTagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tagBtn {
  padding: 8px 16px;
  border-radius: 6px;
  background: #e4e4e4;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.projectTitle span::after,
.locationContainer span::after {
  content: ", ";
}

.projectTitle span:last-of-type::after,
.locationContainer span:last-of-type::after {
  content: "";
}

.bannerOneMedia {
  max-height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bannerOneImage {
  min-width: 100%;
  min-height: 100%;
}

.relatedHeading {
  margin-bottom: 0;
  font-size: 3rem;
}

.relatedProject {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.enlargeBtn {
  width: 100%;
}

.enlargeBtn:hover {
  cursor: zoom-in;
  opacity: 1;
}

.imagePopUpContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200000;
}

.popUpImageImg {
  cursor: grab;
}

.popUpImageImg:active {
  cursor: grabbing;
}

.popUpControls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  align-items: flex-end;
  z-index: 200001;
}

.closeButton {
  height: 1rem;
  width: 1rem;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 25;
}

.closeButton span {
  display: block;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
}

.closeButton span:first-of-type {
  transform: rotate(45deg);
}

.closeButton span:last-of-type {
  transform: rotate(-45deg);
}

.closePopUp {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 20px;
  width: 30px;
  z-index: 25;
}

.popUpControlsBtn,
.backBtn,
.forwardBtn {
  height: 20px;
  width: 30px;
}

.forwardBtn,
.backBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.forwardBtn {
  right: 15px;
}

.backBtn {
  left: 15px;
}

.closePopUp svg,
.popUpControlsBtn svg,
.backBtn svg,
.forwardBtn svg {
  height: 100%;
  width: 100%;
}

.imageBorder {
  border: 1px solid #e4e4e4;
}

@media screen and (max-width: 800px) {
  .bannerOneMedia {
    height: 85vh;
    min-width: 100%;
  }

  .primaryText {
    font-size: 1.7rem;
  }

  .secondaryInfoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .secondaryInfoLeft {
    width: 100%;
    display: block;
    column-count: 2;
  }

  .secondaryInfoLeft div {
    break-inside: avoid;
    margin-bottom: 30px;
  }

  .secondaryInfoRight {
    width: 100%;
  }

  .twoColumnImageContainer {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .galleryContainer,
  .secondaryGallery {
    margin-bottom: 60px;
  }

  .secondarySectionHeading,
  .tertiarySectionHeading {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .tertiarySectionHeading {
    margin-bottom: 60px;
  }

  .secondaryText {
    grid-column: 1;
    margin-bottom: 0px;
  }

  .secondaryMediaRow {
    grid-template-columns: 1fr 1fr;
  }

  .threeColumn {
    column-count: 1;
    grid-column: 1;
  }

  .threeColumnList {
    grid-column: 1;
  }

  .forwardBtn {
    right: 0px;
  }

  .backBtn {
    left: 0px;
  }
}
